<html>
  <body>
    <h1>Quoting Dojo</h1>
    <form class="" action="/create" method="post">
      your Name<input type="text" name="user_name" value="">
      your Quote<input type="text" name="quote" value="">
      <button type="submit" name="button">add Quote</button>
    </form>

    <!-- tip to easily see objects printed in full instead of [object Object] -->
<%- JSON.stringify(messages) %>
<!-- based on the structure of your messages, determine how to display them -->
<% if(messages.registration) { %>
     <% for (var x of messages.registration) { %>
      <h3><%= x %></h3>
     <% } %>
 <% } %>
  </body>
</html>
