<html>
  <body>
    <h1>Coding Dojo Survey Form</h1>
    <form class="" action="/create" method="post">
      Your Name<input type="text" name="name" value=""><br>
      Dojo Location<input type="text" name="location" value=""><br>
      Favorite Language
      <select class="Language" name="language">
        <option value="python">python</option>
        <option value="javascript">javascript</option>
        <option value="c">c</option>

      </select><br>
      Comment<textarea name="comment" rows="8" cols="80"></textarea>

      <button type="submit" >submit</button>
    </form>

  </body>
</html>
