<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>success thanks for the info </h1>
<%= data.name %>
<%= data.location %>
<%= data.language %>
<%= data.comment %>

  </body>
</html>
