<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>author</h1>
    <h1>{{author.name}}</h1>
    <h3>id:{{author.id}}</h3>
    <h3>Notes: {{author.notes}}</h3>
    <h3>books by {{author.name}}</h3>
    {% for x in book %}
    <p>{{x.title}}</p>
    {% endfor %}
    <form class="" action="/addbook/{{author.id}}" method="POST">
      {% csrf_token %}

        <select class=""name="id" >
          {% for x in books %}
          <option value="{{x.id}}">{{x.title}}</option>
          {% endfor %}
        </select>
        <button type="submit" name="button">submit</button>

    </form>
  </body>
</html>
