<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
       <h1>{{ book.title }}</h1>
       <p>{{book.id}}</p>
       <p>{{book.description}}</p>
       <h1>authors</h1>
       <p>{{book.publishers}}</p>
       {% for x in author %}
       <p>{{x.name}}</p>
        {% endfor %}

       <form class="" action="/addAuthor/{{book.id}}/" method="post">
         {% csrf_token %}
         <h3>add authors</h3>
         <select class="" name="id">
           {% for x in authors %}
              <option value="{{x.id}}">{{x.name}}</option>
            {% endfor %}
         </select>
         <button type="submit">submit</button>
       </form>
  </body>
</html>
