<html>
  <body>
    <h1>counter</h1>
    <h3><%= counter_val %></h3>
    <form class="" action="/add2" method="post">
      <button type="submit" name="button">add2</button>
    </form>
    <form class="" action="/reset" method="post">
      <button type="submit" name="button">reset</button>
    </form>
  </body>
</html>
