<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
    </head>
    <body>
        <a href="/contact">contact</a>
        <a href="/projects">projects</a>
        <a href="/">index</a>
        <h1>contact Info</h1>
        <form action=""></form>
        name<input type="text" name="name">
        email<input type="text" name="email">
        message<input type="text" name="message">
        <input type="submit">

    </body>
</html>