<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>make a new mongoose</h1>
    <form class="" action="/create" method="post">
      name<input type="text" name="name" value="">
      color<input type="text" name="color" value="">
      powerLevel<input type="number" name="powerLevel" value="">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
