<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>displaying mongoose </h1>
    <h3><%= mongoose.name %></h3>
    <h3><%= mongoose.color %></h3>
    <h3><%= mongoose.powerLevel %></h3>
  </body>
</html>
