<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>quoting dojo</h1>
    <form action="quote" method="POST">
        name<input type="text" name="name">
        quote<input type="text" name="quote">
        <input type="submit" value="submit">
    </form>
</body>
</html>

